@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*	{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
    	font-family: 'Poppins', sans-serif;
	}

body 	{
	width: 100%;
    	min-height: 100vh;
	background: radial-gradient(#fff,#d7f7a3);
    	display: flex;
    	justify-content: center;
    	align-items: center;
	font-family: 'Poppins', sans-serif;
}


.navbar {
	float: right;
	display: flex;
	position: absolute;
	align-items: center;
	padding: 20px;
	background-color: #ffff;
  	overflow: hidden;
  	top: 0;
  	width: 100%;
}

nav	{
	flex: 1;
	text-align: right;
}

nav ul  {
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px
}

a{
	text-decoration: none;
	color: #555;
}

.container {
    position: absolute;
        max-width: 400px;
        background: #FFF;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        padding: 40px 30px;
        margin: auto;
    }
    
    .container .login-text {
        color: #111;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 20px;
        display: block;
        text-transform: capitalize;
    }
    
    .container .login-email .input-group {
        width: 100%;
        height: 50px;
        margin-bottom: 25px;
    }
    
    .container .login-email .input-group input {
        width: 100%;
        height: 100%;
        border: 2px solid #e7e7e7;
        padding: 15px 20px;
        font-size: 1rem;
        border-radius: 30px;
        background: transparent;
        outline: none;
        transition: .3s;
    }
    
    .container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
        border-color: #a29bfe;
    }
    
    .container .login-email .input-group .btn {
        display: block;
        width: 100%;
        padding: 15px 20px;
        text-align: center;
        border: none;
        background: #b6db24;
        outline: none;
        border-radius: 30px;
        font-size: 1.2rem;
        color: #FFF;
        cursor: pointer;
        transition: .3s;
    }
    
    .container .login-email .input-group .btn:hover {
        transform: translateY(-5px);
        background: #AFE1AF;
    }
    
    .login-register-text {
        color: #111;
        font-weight: 600;
    }
    
    .login-register-text a {
        text-decoration: none;
        color: #b6db24;
    }
    
    .row{
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        justify-content: space-around;
    }
    
    
    .col-2 img{
    padding-left: 100px;
        max-width: 100%;
    }

.row{
	display: inline-flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
}


.col-2 img{
padding-left: 100px;
	max-width: 100%;
}


.footer{
position: absolute;
	bottom: 0;
	background: #000000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
	width: 100%;
}


.footer h3{

	color: #fff;
	margin-bottom: 20px;
}


.footer p{

	color: #8a8a8a;
}


.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
padding-left: 100px;
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1{
	flex-basis: 30%;
}

.footer-col-2{
	flex: 1;
	text-align: center;
}

.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
	list-style-type: none;
}

.app-logo{
	margin-top: 20px;
}

.app-logo img{
	width: 140px;
}

.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}